/*
|--------------------------------------------------------------------------
| Branded Colors
|--------------------------------------------------------------------------
|
*/
$awesome-gmail-red            : #D24231;

$awesome-facebook-blue        : #44619D;
$awesome-facebook-grey        : #E9EAED;

$awesome-vimeo-dark-blu       : #33454E;
$awesome-vimeo-blue           : #4C8AB0;
$awesome-vimeo-grey           : #CDD4DB;

$awesome-dribbble-light-black : #323232;
$awesome-dribbble-grey        : #D7D7D7;

$awesome-trello-blue          : #23719F;
$awesome-trello-light-blue    : #91B4C9;

/*
|--------------------------------------------------------------------------
| Subtle Colors
|--------------------------------------------------------------------------
|
*/
$awesome-subtle-green : #C9DFD2;
$awesome-subtle-tan   : #E7D4AA;
$awesome-subtle-brown : #CCA48B;
$awesome-subtle-blue  : #91B4C9;
$awesome-iterm2-green : #78912C;

/*
|--------------------------------------------------------------------------
| Modern Colors
|--------------------------------------------------------------------------
|
*/
$awesome-modern-grey   : #72787B;
$awesome-modern-blue   : #5697EE;
$awesome-modern-purple : #A95EDE;
$awesome-modern-orange : #F59723;
$awesome-modern-green  : #81BC36;
$awesome-modern-pink   : #DD416A;

/*
|--------------------------------------------------------------------------
| Modern2 Colors
|--------------------------------------------------------------------------
|
*/
$awesome-modern2-tan    : #E5CB98;
$awesome-modern2-green  : #61AFA4;
$awesome-modern2-purple : #484860;
$awesome-modern2-orange : #F07B54;

/*
|--------------------------------------------------------------------------
| Brown Colors
|--------------------------------------------------------------------------
|
*/

$awesome-brown-tan   : #FFF7D4;
$awesome-brown-brown : #985C27;
